#header{
	padding-top:30px;
	}
	
	#textheader{
	padding-bottom:80px;
	}
	
.center-img {
  display: block;
  margin: 0 auto;
}

#center-span1,#center-span2,#center-span3 {
 display: block;
 margin: 3px auto;
 text-align:center;
  background:#202043;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
      font-weight: 700;
	 
	 }
	 
	 #center-span1{
	  width:210px;
 height:25px;
	 }
	 
	#center-span2{
	 width:260px;
 height:25px;
	}

#center-span3{
	 width:180px;
 height:25px;
	} 
	
	#center-span4{
	display: block;
 margin: 0 auto;
 text-align:center;
 color:#202043;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  width:150px;
 height:25px;
	}
a{ text-decoration: none;}	

#img-news1{
width:900px;
 max-width: 100%;
 height:auto;
}

#img-news2{
width:900px;
 max-width: 100%;
 height:auto;
}
#img-news3{
width:900px;
 max-width: 100%;
 height:auto;
}

.text-news{
  display: block;
  margin: 0 auto;
  padding-bottom:30px;
width:670px;
padding:0 60px;
text-align:left;
border-left: 2px solid #d0d6cd;
padding-bottom:40px;
position:relative;

}
.title{
font-family: 'Coda Caption', sans-serif;
font-size:200%;
font-weight: 900;
line-height: 45px;
  color:#202043; 
  width:550px;
  margin:0;
  padding:9px;
}
.date,.day,.month{
display:block;
text-align:center;
width:50px;
font-weight: 900;
font-size:90%;
font-family: 'Russo One', sans-serif;
color:#ea1e32;


}
.date{
position:absolute;
top:5px;
left:-25px;
background:#ffffff;
}
.descript{
width:500px;
font-family: 'Encode Sans Condensed', sans-serif;
line-height: 25px;
color:#202043;
font-weight: 500; 
font-size:10pt;
}
body{
position:relative;
margin:0;
}
#news{
 padding-bottom: 280px;
}
#footer{
position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  background:#202643;
  position:relative;

}
#note{
width:200px;
height:23px;
background:#ffffff;
position:absolute;
left:650px;
top:20px;
text-align:center;
font-size:12pt;
padding:7pt;
font-family: 'Encode Sans Condensed', sans-serif;
font-weight:700;
color:#202043;
}
#media{
position:absolute;
top:90px;
left:640px;
}
#copyright{
color:#ffffff;
position:absolute;
top:220px;
left:730px;
text-align:center;
font-size:8pt;}
