@media screen and (max-width: 900px) {

    .container {
        width: 680px;
    }

    .article {
        height: 218px;
    }

    .left-box {
        width: 270px;
        height: 180px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .left-box img {
        width: 270px;
        height: 180px;
    }

    .right-box {
        width: 340px;
        height: 172px;
    }

    .right-box h2 {
        font-size: 15px;
        line-height: 18px;
    }

    .right-box p {
        margin: 4px 0px 4px 0px;
    }

    .text h1 {
        font-size: 13px;
        margin: 5px;
    }

    .text p {
        margin: 0px;
    }

    .item {
        width: 150px;
        margin-right: 20px;
    }

    .item img {
        height: 95%;
        width: 80%;
    }

    .item p {
        font-size: 12px;
        line-height: 12px;
    }
}




@media screen and (max-width: 700px) {

    .container {
        width: 550px;
    }

    .article {
        height: 490px;
        padding-top: 20px;
        
    }

    .left-box {
        width: 480px;
        height: 280px;
        float: none;
        position: static;
        margin: 0 auto;
    }

    .left-box img {
        width: 480px;
        height: 280px;
    }

    .right-box {
        float: none;
        margin: 0 auto;
        padding-right: 0px;
    }
    .right-box h2 {
        margin: 10px 0 10px 0;
        text-align: center;
    }

    .right-box p {
        margin-bottom: 12px;
    }

    .btn {
        text-align: center;
    }

    .items {
        height: 90px;
        margin: 40px 100px;
    }

    .item {
        margin-bottom: 12px;
    }

     nav{
  	display: none;
   padding: 20px;
    background-color: #A0A0A0FF;
    text-align: center;
    width: 500px;
    margin-top: 20px;
}

.menu li{
    float: none;
    border: solid 1px;
}
#nav-toggle{
	display: block;
}

.adaptive{
 position: relative;
 top:300px;   
}

}



@media screen and (max-width: 580px) {

    .container {
        width: 370px;
    }
     
    .article {
        height: 410px;
    }

   

    .left-box {
         width: 310px;
        height: 160px;
        
    }

    .left-box img {
        width: 310px;
        height: 160px;
        
    }

     .right-box {
     	width: 300px;
        }

     .items {
        height: 240px; 
         margin: 25px 100px; 
    } 

    nav{
    width: 300px;
   
}
}
